
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Media</title>
    <link rel="icon" type="image/png" href="{{ static_url_for('static', filename='images/diatomprojects.png') }}">
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/photo_viewer/photo.css') }}">
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/photo_viewer/login.css') }}">
    <script src="{{ static_url_for('static', filename='js/lib/particles.min.js') }}"></script>

</head>

{% block content %}

<body>

    <!-- NAVIGATION -->
    <nav class="navigation-bar">
        <ul class="navigation">
            <li class="navigation-item navigation-li navigation-item--active" id="nav-menu">
                <a class="nav-a" href={{ url_for('photo_viewer.menu') }}>Menu</a>
            </li>
            <li class="navigation-item navigation-li navigation-item--active" id="nav-home">
                <a class="nav-a" href={{ url_for('index') }}>Home</a>
            </li>
            <li class="navigation-item navigation-li navigation-item--active" id="nav-logout">
                <a class="nav-a" href={{ url_for('photo_viewer.logout') }}>Logout</a>
            </li>
        </ul>
    </nav>
    
    <!-- CANVAS #1 -->
    <div class=home id="home">
        <div class="canvas" id="particles-js-1"></div>
    </div>

    <!-- dir Content -->
    <h1>{{ title }}</h1>

    <div class="dirs-list">
        {% for dir in dirs %}
            <div class="dir">
                {% if tag %}
                    <a href={{ url_for('photo_viewer.photo', path=tag + dir) }}>{{ dir }}</a>
                {% else %}
                    <a href={{ url_for('photo_viewer.photo', path=dir)}}>{{ dir }}</a>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>

    <script src="{{ static_url_for('static', filename='js/portfolio.js') }}"></script>
    <script src="{{ static_url_for('static', filename='js/portfolio-particles.js') }}"></script>

</body>


{% endblock %}
