
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Media</title>
    <link rel="icon" type="image/png" href="{{ static_url_for('static', filename='images/diatomprojects.png') }}">
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/photo_viewer/photo.css') }}">
</head>

{% block content %}

<body>

    <!-- NAVIGATION -->
    <nav class="navigation-bar">
        <ul class="navigation">
            <li class="navigation-item navigation-li navigation-item--active" id="nav-home">
                <a class="nav-a" href={{ url_for('index') }}>Home</a>
            </li>
            {% if demo == False %}
            <li class="navigation-item navigation-li navigation-item--active" id="nav-menu">
                <a class="nav-a" href={{ url_for('photo_viewer.menu') }}>Menu</a>
            </li>
            <li class="navigation-item navigation-li navigation-item--active" id="nav-upload">
                <a class="nav-a" href={{ url_for('photo_viewer.upload') }}>Upload</a>
            </li>
            {% endif %}
            {% if demo == True %}
            <li class="navigation-item navigation-li navigation-item--active" id="nav-upload">
                <a class="nav-a" href={{ url_for('photo_viewer.demo_upload') }}>Upload</a>
            </li>
            {% endif %}
            {% if demo == False %}
                <li class="navigation-item navigation-li navigation-item--active" id="nav-logout">
                    <a class="nav-a" href={{ url_for('photo_viewer.logout') }}>Logout</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <!-- Photo Content -->
    <h1>{{ title }}</h1>

    <div class="photos-content">
        <div class="photos-grid">
        {% for photo in photos %}
            <div class="photos-grid-item">
                <div class="photos-image-container">
                    <img class="photos-image" src="{{ static_url_for('static', filename=endpoint + '/' + photo) }}" class="img-rounded" alt=photo />
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    
    <!-- FOOTER -->
    <footer class="footer">
    </footer>


</body>


{% endblock %}
