



h1 {
	font-family: 'Kalam';	
	text-align: center;
	font-size: 80px;
	color: #FF8F4A;
	margin: auto;
}

p {
	padding-right: 20px;
	padding-top: 30px;
	padding-left: 10px;

}


.menu {
	text-align: center;
}

.menu a{
	padding-right: 30px;
}


.track {
	display: flex;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}


.track-info{
	padding-top: 5px;
	text-align: center;
	height: 5%;
	width: 100%;
	background: #DFE3EE;
}

.track-info:hover{
	background: #FF6F69;
}

.track img {
	width: 100px;
	height: 75px;
	padding-left: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.audio-player {
	width: 20rem;
	height: 5rem;
	--player-button-width: 3em;
	--sound-button-width: 2em;
	--space: .5em;
	padding-bottom: 5px;
	margin: auto;
}

.controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin-top: 10px;
}

.player-button {
	background-color: transparent;
	border: 0;
	width: var(--player-button-width);
	height: var(--player-button-width);
	cursor: pointer;
	padding: 0;
}

.sound-button {
	background-color: transparent;
	border: 0;
	width: var(--sound-button-width);
	height: var(--sound-button-width);
	cursor: pointer;
	padding: 0;
}

.timeline {
	-webkit-appearance: none;
	width: calc(100% - var(--player-button-width) + var(--sound-button-width) + var(--space));
	margin-right: var(--space);
	height: .5em;
	background-color: #e5e5e5;
	border-radius: 5px;
	background-size: 0% 100%;
	background-image: linear-gradient(#DE5E97, #DE5E97);
	background-repeat: no-repeat;
}


.timeline::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0;
	transition: all .1s;
	background-color: #a94672;
}

.timeline::-webkit-slider-thumb:hover {
	background-color: #943f65;
}

.timeline:hover::-webkit-slider-thumb {
	opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}


