certifi
charset-normalizer
click
dominate
Flask
Flask-Bootstrap
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
praw
prawcore
python-dotenv
requests
typing-extensions
urllib3
visitor
websocket-client
Werkzeug
zipp
dropbox
