

<head>
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/synth_clips/music.css') }}">
<script src="{{ static_url_for('static', filename='js/lib/particles.min.js') }}"></script>
<link rel="icon" type="image/png" href="static/images/diatomprojects.png">
</head>

{% block content %}

<body>

    <!-- NAVIGATION -->
    <nav class="navigation-bar">
        <ul class="navigation">
            <li class="navigation-item navigation-li navigation-item--active" id="nav-home">
                <a class="nav-a" href={{ url_for('index') }}>Home</a>
            </li>
        </ul>
    </nav>

    <!-- CANVAS #2 -->
    <div class="main-bg">
        <div class="canvas" id="music-particles-js"></div>
    </div>

    <!-- CONTENT -->
    <div class="synthclips">
        <div class="content-title">
            <h3>
                Synthesizer Jam Recorded Sessions
            </h3>
        </div>
        <div class="content-refs">
            <p>
                All music is recorded over a one to two hour period. Then cut up and processed utilizing
                some light mixing and added  effects with Audacity.
            </p>
            <br>
            <p><strong>Micheal Vawlter</strong>: Modular Synth / Guitar</p>
            <p><strong>Thane</strong>: Piano / Drums</p>
            <p><strong>Charles Stevenson</strong>: Modular Synth</p>
        </div>
        <div class="album">
            <div class="album-desc">
                This jam was recorded out of town at <strong>Thane/Michael’s</strong> studio. 
                I had written a patch to get back into the flow of creating music on the 
                modular synthesizer after dedicating much of the summer to learning music 
                theory and piano. A lot of the inspiration came from a trip to upper Michigan, 
                where I escaped the hectic pace of city life. 
                On the last day of the trip, a violent thunderstorm caused a power surge, and 
                the hum of generators that followed the blackout inspired me to start the track 
                with a drone and build the song from there. The melody and harmony were influenced 
                by the arpeggiated tune of Kakariko Village from Zelda, set in the key of Bflat.
            </div>
            <iframe 
                src="https://bandcamp.com/EmbeddedPlayer/album=3491423449/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=small/transparent=true/" seamless>
                <a href="https://diatomaton.bandcamp.com/album/synth-jam-082624">Synth Jam - 082624 by Diatom</a>
            </iframe>
        </div>

        <div class="album">
            <div class="album-desc">
                This was our second time getting together. Once again, we decided to meet at Kerouac and perform in the side room. The goal was to continue building a community and invite other musicians to join in. It took about an hour to really get started, but once we found our groove, the music began to flow nicely. Unfortunately, someone, slightly inebriated, joined us on piano. While it sounded great at times, we didn’t capture that part of the recording. Overall, after this session, we realized the importance of doing a little preparation if we plan to jam in public again.
            </div>
            <iframe
                src="https://bandcamp.com/EmbeddedPlayer/album=2648460727/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=small/transparent=true/" seamless>
                <a href="https://diatomaton.bandcamp.com/album/synth-jam-033024">Synth Jam - 033024 by Diatom</a>
            </iframe>
        </div>

        <div class="album">
            <div class="album-desc">
                Our first jam session together was planned the previous November, emerging from a growing community called <strong>Modsquad</strong> in Columbus, Ohio. We had a great turnout, with some fascinating visuals provided by Ian’s modular visual rig. Overall, the event showed real potential for hosting public electronic music jam sessions.
            </div>
            <iframe
                src="https://bandcamp.com/EmbeddedPlayer/album=3041107084/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=small/transparent=true/" seamless>
                <a href="https://diatomaton.bandcamp.com/album/synth-jam-021124">Synth Jam - 021124 by Diatom</a>
            </iframe>
        </div>
        <div style="padding-bottom:50px;"></div>
    </div>



    <!-- FOOTER -->
    <footer class="footer">
        <div class="socials">
            <div class="socials-github socials-item">
                <a href="https://github.com/Inkozi" target="_blank">
                    <img src="{{ static_url_for('static', filename='images/github_icon.png') }}" alt="github">
                </a>
            </div>
            <div class="socials-linkedin socials-item">
                <a href="https://linkedin.com/in/charles-stevenson-87a9b0aa" target="_blank">
                    <img src="{{ static_url_for('static', filename='images/linkedin_icon.png') }}" alt="linkedin">
                </a>
            </div>
            <div class="socials-email socials-item">
                <a href="mailto:charles.stevenson222@gmail.com" target="_blank">
                    <img src="{{ static_url_for('static', filename='images/email_icon.png') }}" alt="email">
                </a>
            </div>
        </div>
        <p class="copyright">
            Charles Stevenson
        </p>
    </footer>


    <script src="{{ static_url_for('static', filename='js/portfolio-particles.js') }}"></script>

</body>

{% endblock %}
