
{% extends "base.html" %}


{% block content %}

	<!-- title -->
	<h1><b>{{ title }}</b></h1>
	<div class="menu">
		<a href={{ url_for('index') }}>Projects</a>
		<a href='https://techrez.io/resume/charles-stevenson'>Resume</a>
        <a href={{ url_for('about') }}>About</a>
	</div>
	<hr>

	<div style='width: 90%; padding-top:3%; margin-right: auto; margin-left: auto;'>

        <h2 style="text-align:center; width:100%; margin-left: auto, margin-right: auto;">Charles C. Stevenson</h2>
        <div style="padding-top:3%;" class="image">
            <img style="border: 3px solid black;" src="static/images/{{ info.image }}" class="img-rounded" alt={{ info.name }} width="25%" height="25%"/>
        </div>
        <br>
		<p style="width:70%; margin-left: auto; margin-right:auto; text-align:left; padding-top:5%; font-size:x-large">
        <b>Sofware engineer, chef, musician, gardener, swimmer, cat whisperer, and dabbler in most things botanical and electronically musical.</b><br><br> I develop applications that I feel are needed
         by communities in which I organize and/or participate. Therefore, many are musical in nature but still aim to support biological information systems to assist in answering questions about
         this mysterious, complex world we all inhabit. Therefore, I hope as I continue developing this website, it reflects my interest in both music, biology and art. 
		</p>
		<br>
		<hr>
		<br>
	</div>

{% endblock %}

