
{% extends "base.html" %}


{% block content %}


<h1><b>About Me</b></h1>
	<div class="menu">
		<a href={{ url_for('index') }}>Projects</a>
		<a href={{ url_for('about') }}>About</a>
	</div>
	<p>
		My name is Charles, I like curry and cats. I enjoy programming art projects and creating synthesizer music to beep bop around to while 
		biking to the cafe to drink artisanal hipster coffee and lounge out on the patio. Nothing is better than putting on my skin tight jammers
		and gliding through the water like a sleek predatory great white shark. I like to play with sticks and slay demons. 
	</p>

{% endblock %}
