
{% extends "base.html" %}


{% block content %}


<h1><b>About Me</b></h1>
	<div class="menu">
		<a href={{ url_for('index') }}>Projects</a>
		<a href={{ url_for('about') }}>About</a>
	</div>
	<div>
		<img style="height: 600px; width: 450px; display: block; margin-left: auto; 
		            margin-right: auto; margin-top: 50px; margin-bottom: 50px; border: 2px solid #000" 
			 src="static/images/selfie.jpg">
	</div>
	<div style="text-align: center; width: 40em;  margin-right: auto; margin-left: auto">
		<p>
			My name is Charles, I enjoy programming art projects and creating 
			synthesizer music that beeps and bops. When I'm not making music, I'm usually building synthesizer  
			modules. I also have a cat, or rather a demon, named Pixel, who supervises me while I work. If I am
			not at home, I also enjoy seeing local artists, while sitting in the sun sipping an espresso.
		</p>
	</div>

{% endblock %}
