
{% extends "base.html" %}

{% block content %}
		<h1>Hexapod</h1>
		<hr>
	<div class="entryContainer">

	<!-- Introduction -->
	<div class="article">
		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/hexapod_intro.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">
			Charles has always had a deep fascination for robots. When Charles began working he noticed a weak point in his engineering skills pertained to mechanical devices. Therefore, with some patience and saving he had the opprutunity
			to buy a 3D printer. At first, he built a hexapod from scrap off the internet. It was an interesting design; however, the servo motors were all pulse width modulated and the wires resembled a bad hair day instead of a wel engineered
			electrical system. Needless to say, the design was extremely flimsly and Charles never approriately got the thing to walk. After building the 3D printer, Charles didn't quite know where to start on building his own robot. How were the legs
			suppose to look, how many motors to use, how were the motors even implemented into a walking robot? With some luck and research Charles found a github repository of a guy named Adam, who had designed and programmed a hexapod. 
			Charles borrowed his design files and started printing. Eventually the design will be personalized with the inverse kinematics to be written from scratch utilizing python and ROS as well as a reinforment learning program measured with a front
			facing camera as well as an accelerometer. 
		</p>
		</div>
	</div>
	<hr>
	
	<!-- Prototype -->
	<div class="article">
		<!-- title -->
		<div class="post_title">
			<h3>Prototype</h3>
		</div>

		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/hexapod_proto.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">
			Charles built this version of a hexapod from cutout parts bought online. All the hardware had to be sourced, that is nothing came with the cutouts, including the raspberry pi servo shield. Charles learned a lot about sourcing hardware and a lot more about
			how not to build a robot. It was the first step to upgrading parts into a more robust and artfully interesting design.
		</p>
		</div>
	</div>
	<hr>
	
	<!-- 3D printing && Design -->
	<div class="article">
		<!-- title -->
		<div class="post_title">
			<h3>Fabrication</h3>
		</div>

		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/hexapod_fab.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">
			Charles, at this point, couldn't wait to utilize his 3D printer. This meant that ideas could be digitally fabricated and new modifications could be added without having
			to buy another robot or start from scratch. Adam's design gave Charles a convienant starting point to integrate servo motors, power supplies, accelerometers, and cameras to the hexapod. With that said, Charles decided to use
			Colorfabb's NGEN as the robot's material because of its safety but also its flexibility. Soon after, the 3D printer was assembled, and the stl files were cooked in Cura and ready to be printed.
		</p>
		</div>
	</div>
	<hr>

	<!-- Software -->
	<div class="article">
	<!-- title -->
		<div class="post_title">
			<h3>Software</h3>
		</div>
		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/hexapod_software.png') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">
			With the robot assembled it was time to begin animating the creature. In order to begin the program is dividing into several different features. First, the servos required an API to communicate with all their features, such as, led status,
			torque, and movement. Next, Charles needed to construct a stack that would communicate to this API. Therefore, one object would direct the inverse kinematics algorithm which contains servo objects that contain vector and angle information for both
			the leg's coordnate space as well as the chassis's world coordinate space. Inverse kinematics is essentially simplifying a complex jointed structure using trignometry and linear algebra. The idea is that it takes a vector coordinate and the algorithm
			calculates the rotation of each servo motor up the chain to acheive that position. This alleiviates a lot of complexity in moving the robot from right to left or front to back without keyframing servo positions. Afterwards all the legs are controlled
			by a hexapod object that manages time-frames of each movement as well as the gait, or pattern of how the legs walk. All this is controlled by a switch pro controller, in which, Charles parses a byte stream to mine out inputs needed for the robots movement.
			It is still a work in progress, there needs to be a lot more testing before a reliable code-base can be pushed to production.
		</p>
		</div>
	</div>
	<hr>

	<!-- WIP -->
	<div class="article">
		<div class=wip>
			<h3>TO BE CONTINUED...</h3>
		</div>
	</div>
	<hr>
{% endblock %}
