
{% extends "base.html" %}

{% block content %}
		<h1>Hexapod</h1>
		<hr>
	<div class="entryContainer">

	<!-- Introduction -->
	<div class="article">
		<!-- title -->
		<div class="post_title">
			<h3>Introduction</h3>
		</div>
		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/hexapod_intro.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">

		Hexapod built to began designing a kinematic system for robots but eventually test reinforcment learning algorithms as well as computer vision.
		
		</p>
		</div>
	</div>
	<hr>
	
	<!-- Prototype -->
	<div class="article">
		<!-- title -->
		<div class="post_title">
			<h3>Prototype</h3>
		</div>

		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/hexapod_proto.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">

		Hexapod Robot build with pulse width modulated servo motors.
			
		</p>
		</div>
	</div>
	<hr>
	
	<!-- 3D printing && Design -->
	<div class="article">
		<!-- title -->
		<div class="post_title">
			<h3>Fabrication</h3>
		</div>

		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/hexapod_fab.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">

		Parts collection before assembly.
		
		</p>
		</div>
	</div>
	<hr>

	<!-- Software -->
	<div class="article">
	<!-- title -->
		<div class="post_title">
			<h3>Software</h3>
		</div>
		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/hexapod_software.png') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">

		Code. Designed in a layered object oriented archetecture following the mathematics and research for Hexapod Functionality. This includes, servo api, legs, head, pose, gait, hexapod state machine, and an input controller.

		</p>
		</div>
	</div>
	<hr>

	<!-- WIP -->
	<div class="article">
		<div class=wip>
			<h3>TO BE CONTINUED...</h3>
		</div>
	</div>
	<hr>
{% endblock %}
