
{% extends "base.html" %}


{% block content %}

	<!-- title -->
	<h1><b>{{ title }}</b></h1>
	<div class="menu">
		<a href={{ url_for('index') }}>Projects</a>
		<a href='https://techrez.io/resume/charles-stevenson'>Resume</a>
	</div>
	<hr>

	<!-- Introduction -->
	<div class="introduction">
		<div class="article">
		<!-- description -->
			<div class="description">
				<p class="intro-description">
					{{ description }}
				</p>
			</div>
		</div>
	</div>
	<hr>

	<div style='width: 40em; margin-right: auto; margin-left: auto'>
		<h2 style="text-align:center">Overview</h2>
        <br>
		<p style="text-align:left;">
		HGRIC is the <b>Human Genetics Research Informatics Core</b>, housed in the biomedical research 
			tower at The Ohio State University. It serves hundreds of researchers by maintaining 
			a consortium <b>database with more than thirty thousand patients and millions of variants.</b> 
			It processes and adjudicates the prognosis of these variants searching for an asymptomatic pattern 
			causing dilated cardiomyopathy (DCM). I have been currently working at this position for about five years
            and am currently building their next generation datamanagement platform.
		</p>
		<br>
		<hr>
		<br>
		<h2 style="text-align: center;">Technology</h2>
        <br>
		<p style="text-align: left;">
        The platform is build in django that servers as the backend and react which serves as the front end. Currently, I have built an authentication
        layer where all users will login with a keycloak authentication server, table / navigation react application as well as a form system that users
        can leverage to create, read, update or delete data. In the coming weeks, as of May 5th, 2024, I will be sure to update this page with gifs to illustrate
        the features I have been working on. The will all be in development as the finished project won't launch until September of 2024. 
		</p>
		<br>
		<hr>
		<br>
		<h2 style="text-align:center;">Skills</h2>
        <br>
		<p style="text-align:left;">
			HGRIC has been my first full time software engineering job and I've learned many aspects of a profession software engineer. This includes,
			version control, datebase programming, project management software, developing code, creating test cases, communicating with other software engineers, and 
			deploying code to a production server, just to name a few. Lately, I have been diving into containerization, decoupling deployment of back and front end CI/CD designs,
            python web frameworks as well as utilizing react for the front end. 
		</p>
		<br>
		<br>
		<br>
	</div>

{% endblock %}

