
{% extends "base.html" %}


{% block content %}

	<!-- title -->
	<h1><b>{{ title }}</b></h1>
	<div class="menu">
		<a href={{ url_for('index') }}>Projects</a>
		<a href={{ url_for('exhibits') }}>Exhibits</a>
		<a href='https://techrez.io/resume/charles-stevenson'>Resume</a>
	</div>
	<hr>

	<!-- Introduction -->
	<div class="introduction">
		<div class="article">
		<!-- description -->
			<div class="description">
				<p class="intro-description">
					{{ description }}
				</p>
			</div>
		</div>
	</div>
	<hr>

	<div style='text-align:center; width: 40em; margin-right: auto; margin-left: auto'>
		<h2>Overview</h2>
		<p>
		HGRIC is the <b>Human Genetics Research Informatics Core</b>, housed in the biomedical research 
			tower at The Ohio State University. It serves hundreds of researchers by maintaining 
			a consortium <b>database with more than thirty thousand patients and millions of variants.</b> 
			It processes and adjudicates the prognosis of these variants searching for an asymptomatic pattern 
			causing dilated cardiomyopathy (DCM).
		</p>
		<br>
		<hr>
		<br>
		<h2>Technology</h2>
		<p>
		We utilize a suite of all types of software akin to a <b>full stack developer</b>. The database is 
		built on <b>IBM's DB2</b>, a relational database, inserted in a framework known as <b>BioComputing (BC)</b> for short.
			BC comes with a suite of triggers and a form system to help non-technical users enter in data on a 
			day to day basis. However; when patient's progress through the study, HGRIC has built custom
			webportals using <b>ag-grid and angular</b> to highlight, show and describe information in the database.
			Typically, depending on what is being studied there are also <b>Java</b> classes that handle pipeline processes.
			This includes the download and processing of new genomic information, inventory reports of blood samples,
			and the adjudication and generation of a patient's genetic results. 
		</p>
		<br>
		<hr>
		<br>
		<h2>Skills</h2>
		<p>
			HGRIC has been my first full time software engineering job and I've learned many aspects of a profession software engineer. This includes,
			version control, datebase programming, project management software, developing code, creating test cases, communicating with other software engineers, and 
			deploying code to a production server, just to name a few. 
		</p>
		<br>
		<br>
		<br>
	</div>

{% endblock %}

