
{% extends "base.html" %}


{% block content %}


<h1><b>Charles C. Stevenson</b></h1>
	<div class="menu">
		<a href={{ url_for('index') }}>Projects</a>
		<a href={{ url_for('about') }}>About</a>
		<a href={{ url_for('resume') }}>Resume</a>
	</div>

	
	<ul>
	{% for project in projects %}
		<li>
			<!--<div class="container">-->

			<!-- title -->
			<div class="title">
				<p>
					{% if project.endpoint  == 'asteroids' %}
					<u><b><a href="http://www.codeskulptor.org/#user46_Yt9RESUGhC9ZCwm_3.py">{{ project.name }}</a></b></u>
					{% else %} 
					<u><b> <a href={{ project.endpoint }}>{{ project.name }}</a></b></u>
					{% endif %}
				</p>
			</div>


			<!-- information links -->
			<div class="externalLinks">
				<a href={{ project.video }}>Video</a>
				   -   
				<a href={{ project.code }}>Code</a>
			</div>

		<!-- image -->
				<div class="image">
					<img src="static/images/{{ project.image }}" class="img-rounded" alt={{ project.name }} width="400" height="200"/>
				</div>

			<!-- description -->
			<div class="description">
				<p>{{ project.description }}</p>
			</div>

			<!--</div>-->
			<!--<hr width="500">-->
	</li>
	{% endfor %}
	</ul>
{% endblock %}
