
{% extends "base.html" %}


{% block content %}


<h1><b>Modular Synthesizer - Under Construction</b></h1>
	<div class="menu">
		<a href={{ url_for('index') }}>Projects</a>
		<a href={{ url_for('about') }}>About</a>
		<a href='https://techrez.io/resume/charles-stevenson'>Resume</a>
	</div>

	
	<ul>
	{% for project in projects %}
		<li>
			<!--<div class="container">-->
			<div class="container-lg">
				<!-- title -->
				<div class="mod_title">
					<h3>
						<u><b> <a href={{ project.endpoint }}>{{ project.name }}</a></b></u>
					</h3>
				</div>

				<!-- image -->
				<div class="mod_image">
					<img src="static/images/{{ project.image }}" class="img-rounded" alt={{ project.name }} width="400" height="200"/>
				</div>

				<!-- description -->
				<div class="mod_description">
					<p class="post">
					{{ project.post }}
					</p>
				</div>
			</div>
				

			<!--</div>-->
	</li>
	{% endfor %}
	</ul>
{% endblock %}

<!-- {{ project.description }} -->
