


{% extends "base.html" %}


{% block content %}


<h1><b>Music / Noise</b></h1>
	<div class="menu">
		<a href={{ url_for('index') }}>Projects</a>
		<a href={{ url_for('about') }}>About</a>
		<a href='https://techrez.io/resume/charles-stevenson'>Resume</a>
	</div>

	<ul>
	{% for project in projects %}
		<li>
			<!--<div class="container">-->

			<!-- title -->
			<div class="title">
				<p>
					<u><b><a href={{ project.music }}>{{ project.name }}</a></b></u>
				</p>
			</div>


			<!-- image -->
			<br>
			<br>
			<div class="image">
				<img src="static/images/{{ project.image }}" class="img-rounded" alt={{ project.name }} width="400" height="200"/>
			</div>

			<!-- description -->
			<div class="description">
				<p>{{ project.description }}</p>
			</div>

			<!--</div>-->
			<!--<hr width="500">-->
	</li>
	{% endfor %}
	</ul>
{% endblock %}
