

{% extends "base.html" %}

{% block content %}
		<h1>Otherworld</h1>
		<hr>
	<!-- Otherworld Introduction -->
	<div class="article">
		<div class="post_title">
			<h3>Introduction</h3>
		</div>
		<!-- image -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/otherworld_intro.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">
		
		Otherworld was a small company that designed and built interactive art spaces. They built rooms and hallways filled with escape room and haunted house elements. This included enigmatic puzzles, fantastical sculpture, audio, and textiles
		as well as interactive projection mapping and otherworldy led animations. Charles was hired on for a technologist position to build interactive LED systems and develop a narrative display using the Unity Framework. 
		The size and scope of the projects produced some challenges that required tenacity as well as innovative problem solving. 
		
		</p>
		</div>
	</div>
	<hr>
	
	<!-- Infinity Hall -->
	<div class="article">
		<!-- title -->
		<div class="post_title">
			<h3>Infinity Hall</h3>
		</div>
		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/otherworld_infinity.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">

		Distorted the space around you with mirrors and leds.
		
		</p>
		</div>
	</div>
	<hr>
	
	<!-- Sleeper Pods --> 
	<div class="article">
		<!-- title -->
		<div class="post_title">
			<h3>Sleeper Pods</h3>
		</div>
		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/otherworld_sleeper.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">

		The Sleeper Pods were another large scale LED exhibit with some futuristic fabrication and the use of audio and induction sensors. 
		
		</p>
		</div>
	</div>
	<hr>

	<!-- Funeral Scene -->
	<div class="article">
		<!-- title -->
		<div class="post_title">
			<h3>Church Scene</h3>
		</div>
		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/otherworld_funeral.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">

		Brought the boundary of life and death together by soaking the color out of the room but when triggered would bring them back to life.

		</p>
		</div>
		<!-- code -->
		<div class=post_code>
			<a href="https://github.com/Diatomo/Otherworld/tree/master/Funeral_Scene/Funeral_Scene">Code :: Funeral Scene</a>
		</div>
	</div>
	<hr>

	<!-- Unity Display Case -->
	<div class="article">
		<!-- title -->
		<div class="post_title">
			<h3>Unity Display</h3>
		</div>
		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/otherworld_unity.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">

		A narrative display case with Unity. 

		</p>
		</div>
	</div>
	<hr>

	<hr>
{% endblock %}
