


{% extends "base.html" %}

{% block content %}
		<h1>Roto</h1>
		<hr>

	<!-- Roto Introduction -->
		<!-- description -->
		<div class="introduction">
			<div class="description">
				<p class="post">

				Roto was a plan, design and build firm for the immersive interactive entertainment industry. They catered toward children's science and art museums. 
				Exhibit Engineers designed and implemented the electrical and programming elements of each exhibit. 
				
				</p>
			</div>
		</div>
		<hr>


	<!-- CRSMITH -->
	<div class="article">
		<!-- title -->
		<div class=post_title>
			<a href="http://www.crsmithmuseum.org/exhibitions/permanent-exhibits/"><u>CR-Smith Museum</u></a>
		</div>

		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/roto_md80.png') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">

		A dynamic showcase of the buttons and levers inside an authentic MD80. This included multiple projects and a button controlled LED an audio system.

		</p>
		</div>
		<!-- code -->
		<div class=post_code>
			<a href="https://github.com/Diatomo/Roto_Private/blob/master/COMPLETE/CRSMITH/MD80/MD80.ino">Code :: MD80</a>
		</div>
	</div>
	<hr>

	<!-- Ohio State Constitution -->
	<div class="article">
		<!-- title -->
		<div class=post_title>
			<a href="https://roto.com/museums/ohio-constitution"><u>Ohio State Constitution</u></a>
		</div>
		
		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/constitution.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">

		A LED showcase of the real Ohio Constituion staged in Ohio's statehouse.
		
		</p>
		</div>
		<!-- code -->
		<div class=post_code>
			<a href="https://github.com/Diatomo/Roto_Private/blob/master/OHIO_STATEHOUSE/OhioConstitution/OhioConstitution.ino">Code :: Display Case</a>
		</div>
	</div>
	<hr>

	<!-- High Museum -->
	<div class="article">
		<!-- title  -->
		<div class=post_title>
			<a href="https://www.high.org"><u>High Museum of Art</u></a>
		</div>	

		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/high_intro.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">

		Large Led systems controlled by rotary encoders as well as internet controlled animations as well as a LiDar jungle gym.

		</p>
		</div>
		<!-- code -->
		<div class=post_code>
			<a href="https://github.com/Diatomo/Roto_Private/blob/master/Noodle_Forest/Noodle_Forest.ino">Code :: Noodle Forest</a>
		</div>
	</div>
	<hr>

	<!-- DISCOVERY WORLD -->
	<div class="article">
		<!-- title -->
		<div class=post_title>
			<a href="https://www.discoveryworld.org/things-to-do/exhibits/we-energies-foundation-power-on/"><u>Discovery World Energy</u></a>
		</div>

		<!-- image div -->
		<div class="post_image">
			<img src="{{ url_for('static', filename='Images/roto_cycle.jpg') }}" width=600 height=400 />
		</div>

		<!-- description -->
		<div class="description">
		<p class="post">

			Complex system, including 3 arduinos, 24 seven-segment displays, 6 relays, 300 leds, with 2 different communication protocols includind i2c and serial. The exhibit worked as a people biked it would send that information via a gear tooth sensor to trigger
			events. 
		
		</p>
		</div>
		<!-- code -->
		<div class=post_code>
			<a href="https://github.com/Diatomo/Roto_Private/tree/master/Cycle_To_Power_MotherBox/src">Code :: Cycle To Power</a>
		</div>
	</div>
	<hr>

	</div>
	<hr>
{% endblock %}
