

<head>
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/synthclips.css') }}">
<script src="{{ static_url_for('static', filename='js/lib/particles.min.js') }}"></script>
<link rel="icon" type="image/png" href="static/images/diatomprojects.png">
</head>

{% block content %}

<body>

    <!-- NAVIGATION -->
    <nav class="navigation-bar">
        <ul class="navigation">
            <li class="navigation-item navigation-li navigation-item--active" id="nav-home">
                <a class="nav-a" href={{ url_for('index') }}>Home</a>
            </li>
        </ul>
    </nav>

    <!-- CANVAS #2 -->
    <div class="main-bg">
        <div class="canvas" id="music-particles-js"></div>
    </div>

    <!-- CONTENT -->
    <div class="synthclips">
        <div class="content-title">
            <h2>
                Synthesizer Recorded Sessions
            </h2>
        </div>
        <div class="content-refs">
            <p><strong>Micheal Vawlter</strong>: Modular Synth / Guitar</p>
            <p><strong>Thane</strong>: Piano / Drums</p>
            <p><strong>Charles Stevenson</strong>: Modular Synth</p>
        </div>
        <div class="album">
            <div class="album-desc">
                This jam was recorded at <strong>Thane/Michael’s</strong> studio, where I wrote a patch to get back into modular synth music after focusing on music theory and piano over the summer. Inspired by a trip to upper Michigan, I started the track with a drone, and built the melody and harmony in the style of Zelda’s Kakariko Village, in the key of B-flat.

            </div>
            <iframe 
                src="https://bandcamp.com/EmbeddedPlayer/album=3491423449/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=small/transparent=true/" seamless>
                <a href="https://diatomaton.bandcamp.com/album/synth-jam-082624">Synth Jam - 082624 by Diatom</a>
            </iframe>
        </div>

        <div class="album">
            <div class="album-desc">
This was our second jam session at Kerouac, where we aimed to build a community by inviting other musicians. Though it took a while to find our groove, the music flowed well, but an unplanned addition on piano wasn’t fully captured, highlighting the need for better preparation for future public jams.
            </div>
            <iframe
                src="https://bandcamp.com/EmbeddedPlayer/album=2648460727/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=small/transparent=true/" seamless>
                <a href="https://diatomaton.bandcamp.com/album/synth-jam-033024">Synth Jam - 033024 by Diatom</a>
            </iframe>
        </div>

        <div class="album">
            <div class="album-desc">
                Our first jam session together was planned the previous November, emerging from a growing community called <strong>Modsquad</strong> in Columbus, Ohio. We had a great turnout, with some fascinating visuals provided by Ian’s modular visual rig. Overall, the event showed real potential for hosting public electronic music jam sessions.
            </div>
            <iframe
                src="https://bandcamp.com/EmbeddedPlayer/album=3041107084/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=small/transparent=true/" seamless>
                <a href="https://diatomaton.bandcamp.com/album/synth-jam-021124">Synth Jam - 021124 by Diatom</a>
            </iframe>
        </div>
        <div style="padding-bottom:50px;"></div>
    </div>



    <!-- FOOTER -->
    <footer class="footer">
        <div class="socials">
            <div class="socials-github socials-item">
                <a href="https://github.com/Inkozi" target="_blank">
                    <img src="{{ static_url_for('static', filename='images/github_icon.png') }}" alt="github">
                </a>
            </div>
            <div class="socials-linkedin socials-item">
                <a href="https://linkedin.com/in/charles-stevenson-87a9b0aa" target="_blank">
                    <img src="{{ static_url_for('static', filename='images/linkedin_icon.png') }}" alt="linkedin">
                </a>
            </div>
            <div class="socials-email socials-item">
                <a href="mailto:charles.stevenson222@gmail.com" target="_blank">
                    <img src="{{ static_url_for('static', filename='images/email_icon.png') }}" alt="email">
                </a>
            </div>
        </div>
        <p class="copyright">
            Charles Stevenson
        </p>
    </footer>


    <script src="{{ static_url_for('static', filename='js/portfolio-particles.js') }}"></script>

</body>

{% endblock %}
